<div>
  <mat-toolbar  color="primary">
    <mat-toolbar-row class="navbar" [class.mat-elevation-z4]="true">
      <button mat-icon-button (click)="sideNav.toggle()" class="burger-button">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-button class="title">CS Utilities</button>
      <span class="spacer"></span>
      <button mat-button>About</button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="full-screen-sidenav">
    <mat-sidenav #sideNav mode="side" opened class="sidenav-nav" [class.mat-elevation-z4]="true">
      <!-- <button mat-button class="sidenav-button btn-active">Operations & Support</button>
      <button mat-button class="sidenav-button long-value">Asset & Vulnerability Management</button>
      <button mat-button class="sidenav-button">WP Utilities</button> -->
      
      <mat-expansion-panel>
        <mat-expansion-panel-header >
          <span>Operations & Support</span>
        </mat-expansion-panel-header>
        <button mat-button class="sidenav-button"
         routerLink="/obs" routerLinkActive #rLAobs="routerLinkActive"
         [color]="rLAobs.isActive? 'primary':'accent'">OBS</button>
        <button mat-button class="sidenav-button" routerLink="/iaa">IAA</button>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header >
          <span>Asset & Vulnerability Management</span>
        </mat-expansion-panel-header>
        <button mat-button class="sidenav-button">Credential Scan</button>
        <button mat-button class="sidenav-button">SRRS</button>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header >
          <span>WP Utilities</span>
        </mat-expansion-panel-header>
        <button mat-button class="sidenav-button">Retired Systems</button>
      </mat-expansion-panel>
      <button mat-button class="sidenav-button"
      routerLink="/forms" routerLinkActive #rLAforms="routerLinkActive"
      [color]="rLAforms.isActive ? 'primary':'accent'">Forms</button>
    
    </mat-sidenav>
    <mat-sidenav-content >
      <div class="sidenav-maincontent">
        <router-outlet></router-outlet>
      </div>
      
    </mat-sidenav-content>
    
    
  </mat-sidenav-container>
</div>
