// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin-ext');
// @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic&amp;subset=latin-ext');
@import '~typeface-muli/index';
@import '~typeface-roboto/index';
@import '~typeface-open-sans/index';
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

$general-typography: mat-typography-config(
  $font-family: '"Open Sans", "Helvetica Neue", sans-serif',
  $body-2:        mat-typography-level(14px, 24px, 600)  
);

// $general-typography: mat-typography-config(
//   $font-family: 'Muli',
//   $body-2:        mat-typography-level(14px, 24px, 600)  
// );

@include mat-core($general-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angularMaterialPractice1-primary: mat-palette($mat-red);
$angularMaterialPractice1-accent: mat-palette($mat-grey, A600, A400, A800);

// The warn palette is optional (defaults to red).
$angularMaterialPractice1-warn: mat-palette($mat-amber);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angularMaterialPractice1-theme: mat-light-theme((
  color: (
    primary: $angularMaterialPractice1-primary,
    accent: $angularMaterialPractice1-accent,
    warn: $angularMaterialPractice1-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($angularMaterialPractice1-theme);

